<!DOCTYPE html>
<html>
    <head>
        <title>mymotd</title>
        <style type="text/css">
            h2{
                font-size : 30px;
                color: red;
				line-height: 5px;
            }
			p{
				font-size : 20px;
				color: blue;
				line-height: 5px;
			}
			div{
				margin : 20px;
			}
			li{
				font-size : 20px;
				color: blue;
			}
            </style>
    </head>
    <body background="{{ url_for('static', filename = 'dontstop.jpg')}}">
			<h2>第一个zonemod插件部分特性改动，其他插件均未更改。</h2>
			<ul>
				<li>安全屋外的止疼药最多有5瓶 [2->5]</li>
				<li>特感复活时间为8秒 [15->8]</li>
				<li>10推开始冷却，15推冷却时间达到最大 [(1,3)->(10,15)]</li>
				<li>开局随机刷4把近战</li>
				<li>Bot吃药会加血,而非吞药,但玩家加入不会给药.</li>
				<li>允许AI特感刷新，AI特感不受轮换机制阵营人数限制限制</li>
			</ul>
			
			<h2>无法正常游玩游戏？</h2>
			<ul>
				<p><strong>若聊天框提示形如这样的信息, 请调整lerp: </strong> </p>
				<p>&lt;Lerp&gt; wldcmzy was moved to spectators for lerp 500.0 </p>
				<p>&lt;Lerp&gt; Illegal lerp value (min: 0.0, max: 67.0)<p>
				<p><strong>方法为:</strong></p>
				<p>按 ` 建打开控制台(前提是已经在设置中启用控制台), 输入以下内容:</p>
				<p>cl_interp_ratio 0; cl_interp 0</p>
				
			</ul>
			
			<h2>常用命令</h2>
			<ul>
				<p>!match 加载插件 !rmatch 解除当前插件</p>
				<p>!mvp 查询战绩 !bonus 查询分数 !tank 查询坦克位置 </p>
				<p>!tankhud 显示或关闭tank信息UI(生还不可用)</p>
				<p>!voteboss 投票设置坦克位置</p>
				<p>!s 旁观 !sepchud 打开观战者UI</p>
				<p>!pause 暂停 !unpause 解除暂停</p>
				<p>!slots x 投票修改房间人数上限为x</p>
				<p>对局开始前: !hide 隐藏菜单 !show 显示菜单</p>
			</ul>
		<div>
    </body>
<html>